<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"> <%= @user.username %></div>
</div>

<!-- admin: status and what has he/she written -->

<!-- list of posts liked -->

<%= edit_and_destroy_buttons(@user) %>
<%= link_to 'Back', users_path %>
