<div class="row">
 <div class="col-md-2">
          
 </div>
 <div class="col-md-6">
<h2><%= @category.name %></h2>

<p> <em><%= @category.description %></em></p>

<div class="panel panel-default">
  <div class="panel-heading">All posts related to this category</div>
  <ul class="list-group">
  <% @category.posts.each do |post| %>
    <li class="list-group-item"><%= link_to post.title, post %></li>
     <% end %>
  </ul>
</div>

<% if current_user and current_user.admin %>
<p> <strong> WARNING! Deleting a category will delete all posts related to it. </strong></p>
<%= edit_and_destroy_buttons(@category) %>
<% end %>

</div>
</div>


