<%# navigation styled for Bootstrap 3.0 %>
<div class="blog-masthead color="gray-darker">
  <div class="container" >
    <div class="blog-nav" >
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= render 'layouts/navigation_links_right' %>
      </ul>
  </div>
</div>
